<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genschefieste"
    android:installLocation="auto"
    android:versionCode="8"
    android:versionName="8">
	<supports-screens
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
	/>

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:icon="@drawable/starticon"
        android:theme="@android:style/Theme.NoTitleBar"
        android:label="@string/app_name"
        android:allowBackup="true">

        <uses-library android:name="com.google.android.maps" />
        <meta-data android:name="android.app.default_searchable" android:value=".EventSearch" />

        <activity android:name=".Main" android:label="@string/app_name" >
            <meta-data android:name="android.app.default_searchable" android:value=".EventSearch" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".EventSearch" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>

        <activity android:name=".MenuList" />
        <activity android:name=".DaysOverview" />
        <activity android:name=".TypeOverview" />
        <activity android:name=".EventDetail" />
        <activity android:name=".MapBase"/>
        <activity android:name=".Favorites" />
        <activity android:name=".EventResultFacetList" />
        <activity android:name=".About" />
        <activity android:name=".AroundMe" />
        <activity android:name=".Parking" />
        <activity android:name=".Bicycle" />
        <activity android:name=".GentInfo" />
        <activity android:name=".AtmList" />
        <activity android:name=".AtmMap" />
        <activity android:noHistory="true" android:name=".AroundMePre" />
        <activity android:noHistory="true" android:name=".Prefs" android:screenOrientation="portrait" />

    </application>

</manifest>