<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genschefieste"
    android:installLocation="auto"
    android:versionCode="14"
    android:versionName="14">
	<supports-screens
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
	/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:icon="@drawable/starticon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true">

        <uses-library android:name="com.google.android.maps" />
        <meta-data android:name="android.app.default_searchable" android:value=".EventSearch" />

        <activity android:name=".Main" android:label="@string/menu_bar_title">
            <meta-data android:name="android.app.default_searchable" android:value=".EventSearch" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".EventSearch" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>

        <activity android:name=".MenuList" />
        <activity android:name=".DaysOverview"
            android:parentActivityName=".BackActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.genschefieste.BackActivity" />
        </activity>

        <activity android:name=".TypeOverview"
            android:parentActivityName=".BackActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.genschefieste.BackActivity" />

        </activity>

        <activity android:name=".EventDetail"
            android:parentActivityName=".BackActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.genschefieste.BackActivity" />

        </activity>
        <!--<activity android:name=".MapBase"/>-->
        <activity android:name=".Favorites" android:label="@string/my_favorites"
            android:parentActivityName=".Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.genschefieste.Main" />

        </activity>
        <activity android:name=".EventResultFacetList"
            android:parentActivityName=".BackActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.genschefieste.BackActivity" />
        </activity>

        <activity android:name=".About" android:label="@string/about_title"
            android:parentActivityName=".Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.genschefieste.Main" />
        </activity>
        <activity android:name=".AroundMe" />
        <activity android:name=".Parking" />
        <activity android:name=".Bicycle" />
        <activity android:name=".GentInfo" />
        <activity android:name=".AtmList" />
        <!--<activity android:name=".AtmMap" />-->
        <activity android:noHistory="true" android:name=".AroundMePre" />
        <activity android:noHistory="true" android:name=".Prefs" android:screenOrientation="portrait" />
        <activity android:name=".BackActivity" />

    </application>

</manifest>